
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.loadingData {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}


$white-color: #ffff;
$black-color: #000;


.hover {
	background-color: $white-color;
	transition: background-color 0.3s ease;
	cursor: pointer;
	&:hover {
		background-color: $black-color; 
		color: $white-color
}
	
}

.remove-decoration{
	text-decoration: none,
}

.d-flex{
  gap:5px;
}

.width-lg {
  width: 150px; 
}

@import '~bootstrap/scss/bootstrap.scss';